[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tensorflow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
keras = "*"
"h5py" = "*"
ta-lib = "*"
python-binance = "*"
statsmodels = "*"
plotly = "*"
pytest = "*"
sklearn = "*"
jupyter = "*"


[dev-packages]

